/* .codeflask {
    --keyword: #c678dd;
    --class: #e5c07b;
    --string: #98c379;
    --function: #98c379;
    --variable: #e06c75;
    --operator: #56b6c2;
    --number: #d19a66;
    --background: #2c313c;
}


code span.string        { color: var(--string)   !important; }
code span.keyword       { color: var(--keyword)  !important; }
code span.number        { color: var(--number)   !important; }
code span.operator      { color: var(--operator) !important; }
code span.class-name    { color: var(--class)    !important; } */

