.skills {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.skill.add-skill {
	display: block;
	position: relative;
}
.skill.add-skill > * {
    margin: auto;
    display: block;
    text-align: center;
}
.skill {
	display: grid;
	grid-template-areas: "image header" "image description" "image quality";
	grid-gap: 5px 15px;
	grid-template-rows: 23px 1fr;
	border: 2px solid var(--light-grey);
	border-radius: var(--border-radius);
	padding: 20px;
	cursor: pointer;
	transition: .2s;
	width: 24%;
	background-color: #fff;
	position: relative;
	margin-bottom: calc(60vw * 0.0125);
}
.skill:hover {

}
.skill > span.quality {
	grid-area: quality;
}
.skill > .box {
	margin: auto;
    display: block;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
}
.skill img {
	grid-area: image;
	width: 60px;
}
.skill p.heading {
	grid-area: header;
	font-size: 20px;
}
.skill p.description {
	grid-area: description;
}
.skill p {
	margin: 0;
}
.skill::before {
	content: "check";
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/* background-color: var(--light-grey); */
	position: absolute;
	right: 20px;
	top: 20px;
	transition: .2s;
	opacity: 0;
	border: 2px solid var(--blue);
	font-family: 'Material Icons Round';
	color: #fff;
	font-size: 20px;
}
.skill.select::before {
	opacity: 1;
}
.skill.select.selected::before {
	background-color: var(--blue);
}


.file-input {
	background-color: var(--light-grey);
	border-radius: var(--border-radius);
	width: fit-content;
	padding: 15px 20px;
	cursor: pointer;
}

