<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/chart.js"></script>
    <script type="module" src="/assets/js/global.js"></script>
</head>

<body>
    <div class="container" id="swup">
        <div class="row">
            <nav class="breadcrumb">
                <a href="/">Jarvis Server</a>
                <a href="/assistant">Assistant</a>
            </nav>
        </div>

        <h1>Assistant</h1>

        <div class="grid">
            <div class="col-s-1 col-e-4 row-s-1 row-e-1 box clickable centered bg-light-grey" onclick="swup.loadPage({url:'/skill/new'})">
                <div class="icon bg-blue"><i>add</i></div>
                <span>Add a Skill</span>
            </div>
            {% if skills is defined: %} {% for skill in skills: %} {% set column_start = ((loop.index) % 4) * 4 - ((loop.index) % 4) + 1 %}
            <div class="box clickable centered col-s-{{ column_start }} col-e-{{ column_start + 3 }} row-s-{{ loop.index // 4 + 1 }} row-e-{{ loop.index // 4 + 1 }}" onclick="swup.loadPage({url:`/skill/edit/{{ skill.id }}`})">
                <i class="{{ skill.icon.color }}">{{ skill.icon.icon }}</i>
                <label>{{ skill.name }}</label>
                <span class="v-center small dark-grey">
                    <i>download</i> &nbsp; {{ '{:,}'.format(skill.social.downloads|length) }} &nbsp; | &nbsp; 
                    <i>star</i> &nbsp; {{ skill.social.rating }}/5 &nbsp; | &nbsp;
                    <i style="transform:scaleX(-1)">mode_comment</i> &nbsp; {{ '{:,}'.format(skill.social.comments|length) }} &nbsp; | &nbsp; 
                    <i>favorite</i> &nbsp; {{ '{:,}'.format(skill.social.likes|length) }} 
                </span>
                <span class="{{ 'green' if skill.public else 'red' }} privacy-state id-{{ skill.id }}">{{ "Public" if skill.public else "Private" }}</span>
                <div class="settings absolute top-0 right-0">
                    <i class="">more_vert</i>
                    <div class="options hidden">
                        <div class="h-center hover-bg-red" onclick="get(`/api/skill/{{ skill.id }}/delete`);swup.cache.remove(window.location.pathname);swup.loadPage({url: window.location.pathname})"><i>delete</i><span class="v-center">Delete skill</span></div>
                        {% if skill.public: %}
                        <div class="h-center hover-bg-orange" data-privateskill="{{ skill.id }}"><i>lock</i><span class="v-center">Keep Skill Private</span></div>
                        {% else: %}
                        <div class="h-center hover-bg-green" data-publicskill="{{ skill.id }}"><i>cloud_upload</i><span class="v-center">Publish Skill</span></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if (loop.index + 1) % 4 == 0 %} {% endif %} {% endfor %} {% endif %}
        </div>
    </div>
</body>

</html>