<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/markdown.css">
    <script type="module" src="/assets/js/global.js"></script>

    <style>
        table tr > td:nth-child(1):not([colspan]) {
            width: 35px !important;
        }
        table tr > td:nth-child(2) {
            width: 35px !important;
        }
        table tr > td:nth-child(1):not([colspan]), 
        table tr > td:nth-child(2) {
            width: 20px;
            padding: 0;
        }
        table tr > td:nth-child(1) > i,
        table tr > td:nth-child(2) > i {
            transform: translate(0, -3px);
        }
    </style>
</head>

<body>
    <div id="swup">
        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a href="/">Jarvis Server</a>
                    <a href="/updates">Update Center</a>
                </nav>
            </div>

            <h1>Clients</h1>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Name</td>
                            <td>Created At</td>
                            <td>Last Seen</td>
                        </tr>
                    </thead>
                    <tbody id="devices-container">
                        {% for client in clients: %}
                        {% set securityIcon = "lock" if client["secure"] else "lock_open" %}
                        {% set securityColor = "green" if client["secure"] else "red" %}
                        {% set securityTitle = "Encrypted Traffic" if client["secure"] else "Unencrypted Traffic" %}
                        {% set deviceType = client["device"] %}
                        {% set deviceIcons = {
                                                "computer"  :  "computer",
                                                "jarvis"    :  "smart_button",
                                                "phone"     :  "smartphone",
                                                "mic"       :  "mic"
                                            } %}
                        {% set deviceIcon = deviceIcons[deviceType]  %}
                            <tr>
                                <td title="Device Type: {{ deviceType | capitalize }}"> <i class="blue">{{ deviceIcon }}</i> </td>
                                <td title="{{ securityTitle }}"> <i class="{{ securityColor }}">{{ securityIcon }}</i> </td>
                                <td>{{ client["name"] }}</td>
                                <td>{{ client["created-at"] | datetime("date") }}</td>
                                <td>{{ client["last-seen"] | timediff(2) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>