<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/chart.min.js"></script>
    <script type="module" src="/assets/js/global.js"></script>
    
    <style>
        .nlu.box {
            display: none !important
        }
    </style>
</head>

<body>
    <div id="swup">
        {# include "nlu.html" #}

        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a href="/">Jarvis Server</a>
                    <a href="/">Dashboard</a>
                </nav>
            </div>

            <h1>Dashboard</h1>

            <div class="row statistics">
                <div class="col-6 box">
                    <canvas id="db-stats"></canvas>
                </div>
                <div class="col-6 box">
                    <canvas id="access-stats"></canvas>
                </div>
            </div>
    
            <div class="row">
                <div class="col-6 box clickable" onclick="redirect('/assistant');">
                    <i class="blue">record_voice_over</i>
                    <label>Assistant</label>
                    <p class="margin-bottom-s">Manage your assistant {% if config_size is defined: %}
                        <br> Current configuration size: <span class="{{ 'green' if config_size // 1024 < 1024 else ('orange' if config_size // 1024 // 1024 < 100 else 'red') }}">{{ config_size // 1024 }} kB</span> {% endif %}
                    </p>
                </div>
                <div class="col-6 box clickable" onclick="redirect('/updates');">
                    <i class="green">update</i>
                    <label>Update Center</label>
                    <p>Download and install the newest assistant software</p>
                    <div class="row">
                        {% set update_available = version.local != version.remote %}
                        <div class="col-7">
                            {% if version is not none: %}
                            <span>
                                Remote Version: 
                                <span class="green">{{ version.name.remote }} (v{{ version.remote }})</span>
                            </span>
                            <span class="block margin-top-s">
                                Local Version:
                                <span class="{{ 'orange' if update_available else 'green' }}">{{ version.name.local }} (v{{ version.local }})</span>
                            </span>
                            {% else: %}
                            <span>
                                Remote Version: 
                                <span class="red">unknown</span>
                            </span>
                            <span class="block margin-top-s">
                                Local Version: 
                                <span class="red">unknown</span>
                            </span>
                            {% endif %}
                            </span>
                        </div>
                        <div class="col-5">
                            {% if update_available: %}
                            <div class="row">
                                <div class="col-12">
                                    <button class="green" onclick="redirect('/updates?download')">Download v{{ version.remote }}</button>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-6 box clickable" onclick="redirect('/logs');">
                    <i class="orange">rss_feed</i>
                    <label>Logs</label>
                    <p>Inspect logs and trace errors</p>
                    {# 1.048.576 = 1024 * 1024 = 1MB #}
                    {# 430.656 = 430kB REAL DATA #}
                    {# > 100MB dangerous #}
                    {# > 300MB critically #}
                    <p>Log Size: <span class="{{ 'green' if logs_size < (1024 * 1024 * 100) else 'orange' if logs_size < (1024 * 1024 * 300) else 'red' }}">{{ logs_size | filesizeformat }}</span> ({{ log_entries_count }} entries)</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>