<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="module" src="/assets/js/global.js"></script>
</head>

<body>
    <div class="container" id="swup">
        <div class="row">
            <nav class="breadcrumb">
                <a href="/">Jarvis Server</a>
                <a href="/">Login</a>
            </nav>
        </div>

        <h1>Login</h1>

        {% if success is defined: %} {% if success: %}
        <script>
            swup.loadPage({
                "url": "{{ url }}"
            })
        </script>
        {% else: %}
        <div class="notification red">
            Username or password not correct <br> Try again
        </div>
        {% endif %} {% endif %}

        <div class="row">
            <form class="col-4" action="/login" method="post">
                <div class="input">
                    <input type="text" name="username" placeholder=" " required autofocus>
                    <span>Username</span>
                </div>
                <div class="input">
                    <input type="password" id="login-password" name="password" placeholder=" " required>
                    <span>Password</span>
                    <i data-visibilityfor="login-password" data-on="visibility" data-off="visibility_off">visibility</i>
                </div>
                <button type="submit" name="login" class="green">Log in</button>
            </form>
        </div>
    </div>
</body>

</html>