<div id="nlu" class="nlu box">
    <p id="nlu-header" class="size-21 center margin-0">Add intents to your assistant</p>
    <p id="nlu-text" class="dark-grey center margin-bottom-0">Then you will be able to test it here!</p>
    
    <br><br>
    
    <div>
        <div class="v-center h-center">
            <i id="nlu-record" class="clickable border border-blue bg-blue white">mic</i>
        </div>
    </div>

    <br>

    <div class="input">
        <input type="text" placeholder=" " id="nlu-input">
        <span>Run a query on your assistant</span>
    </div>

    <div class="box bg-light-grey" id="nlu-output">
        Enter a query and press enter
    </div>

    <div class="absolute bottom-xxl right-xxxl v-center">
        <div class="dot l red margin-right" style="margin-bottom: 1.5px" id="nlu-status-color"></div>
        <span id="nlu-status-text">NLU offline</span>
    </div>
</div>