<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <script type="module" src="/assets/js/global.js"></script>
</head>

<body>
    <div id="swup">
        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a href="/">Jarvis Server</a>
                    <a href="/people">People</a>
                </nav>
            </div>

            <div class="flex space-between">
                <h1>People</h1>
            </div>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Created At</td>
                            <td>Last Seen</td>
                            <td></td> <!-- Info Button -->
                            <td></td> <!-- Delete Button -->
                            <td style="width: 100%"></td>
                        </tr>
                    </thead>
                    <tbody id="devices-container">
                        <tr>
                            <td colspan="5" class="v-center h-center">
                                <div class="loading margin-right"></div>
                                <span>Loading people</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>