<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/markdown.css">
    <script type="module" src="/assets/js/global.js"></script>
    
    <style>
        .nlu.box {
            display: none !important
        }
    </style>
</head>

<body>
    <div id="swup">
        <div class="container">
            <div class="row">
                <nav class="breadcrumb">
                    <a href="/">Jarvis Server</a>
                    <a href="/updates">Update Center</a>
                </nav>
            </div>

            <h1>Update Center</h1>
            
            <div class="row">
                <div class="col-1 margin-bottom-0">
                    <img src="/assets/img/ironman.png">
                </div>
                <div class="col-5 margin-bottom-0 middle">
                    {% set update_available = version.local != version.remote %}
                    {% set color = "orange" if update_available else "green" %}
                    <h3 class="margin-0 margin-bottom">
                        Jarvis {{ version.name.local }}
                        {% if update_available: %}
                        <div class="v-dot bg-darker-grey"></div>
                        <span class="size-16 {{ color }}">{{ "Update available" if update_available else "Up-to-date!" }}</span>
                        {% endif %}
                    </h3>
                    <span>
                        <span class="darker-grey">Version {{ version.local }}</span>
                        <div class="v-dot bg-darker-grey"></div>
                        {% if update_available: %}
                            <span class="darker-grey">{{ version["update-size"] | filesizeformat }} update size</span>
                        {% else: %}
                            <span class="green">Up-to-date!</span>
                        {% endif %}
                        <span>
                            <i  style=" cursor: pointer; 
                                        margin: 0 0 0 15px; 
                                        transform: translateY(-1px)"
                                class="absolute" 
                                onmouseover="showInfoBox(this, `Update Server: {{ version.server }}<br>Last poll: {{ version.timestamp.local | datetime }}`)" 
                                onmouseout="removeInfoBox()">info</i>
                        </span>
                    </span>
                </div>
                {% if update_available: %}
                <div class="col-1 margin-bottom-0 v-center green">
                    <i class="size-25">arrow_right_alt</i>
                </div>
                <div class="col-5 margin-bottom-0 middle">
                    <h3 class="margin-0 margin-bottom">
                        Jarvis {{ version.name.remote }}
                    </h3>
                    <span>
                        <span class="darker-grey">Version {{ version.remote }}</span>
                        <div class="v-dot bg-darker-grey"></div>
                        <span class="darker-grey">Released {{ version.timestamp.remote | datetime("date") }} </span>
                    </span>
                </div>
                {% else: %}
                <div class="col-3 margin-bottom-0 middle">
                    <div class="v-center h-center">
                        <button class="blue hover-white transition v-center h-center" onclick="checkForUpdate(this)">
                            <i class="transition margin-right">loop</i> 
                            <span class="transition">Check for updates</span>
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>

            {% if update_available: %}
            <hr>
            
            <div class="row">
                <div class="col-6">
                    <h3 class="margin-top-0">Update Notes:</h3>
                    <div class="box markdown">
                        {{ version.notes.remote | markdown | safe }}
                    </div>
                </div>
                <div class="col-6">
                    <h3 class="margin-top-0">Installation:</h3>
                    <div class="box" id="installation-options">
                        <div class="v-center"> 
                            <i class="rotating margin-right">loop</i> 
                            <span>Loading data</span> 
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>