form > div {
	display: flex;
}


.skill-header {
	display: grid;
	grid-template-areas: "name script" "description description" "image image";
	grid-gap: 15px;
	width: 100%;
}
.skill-header #skill-name {
	grid-area: name;
}
.skill-header #skill-script {
	grid-area: script;
}
.skill-header #skill-desc {
	grid-area: description;
}

.skill-image {
	margin-right: 20px;
}
.skill-image img {
	width: 55px;
}
.image-chooser {
	position: relative;
	grid-area: image;
}
.image-container {
	position: absolute;
	width: 100%;
	opacity: 0;
	top: 100px;
	box-shadow: var(--box-shadow);
	padding: 20px;
	border-radius: var(--border-radius);
	transition: .2s;
	visibility: hidden;
	background-color: #fff;
	margin-bottom: 50px;
}
.image-container img {
	width: 45px;
	margin: 5px;
	cursor: pointer;
}
.image-container.visible {
	visibility: visible;
	opacity: 1;
	top: 60px;
	z-index: 1;
}

button {
	width: 200px
}
input {
	background-color: #fff !important; /* for autocorrect */
}