.basic-settings {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.basic-settings > input {
	width: 30%;
}
.basic-settings > .checkbox {

}
.basic-settings > .slider {

}
.basic-settings div, .basic-settings label {
	display: flex;
	align-self: center;
}
.basic-settings label {
	margin: 0 10px;
}
.basic-settings i {
	margin-left: 10px;
}

.input-area {
	background-color: #fff;
	border-radius: var(--border-radius);
	margin-top: 20px;
	box-shadow: var(--box-shadow);
	margin-bottom: 50px;
}
.input-area-new {
	display: grid;
	grid-template-areas: "value synonyms button";
	grid-template-columns: 25% 1fr 105px;
	grid-gap: 15px;
	padding: 20px;
	border: 2px solid var(--light-grey);
	border-style: none none solid none;
}
.input-area-new input {
	background-color: var(--light-grey);
}
.input-area-new button {
	grid-area: button;
	color: var(--blue);
}
#input-new-value {
	grid-area: value;
}
#input-new-synonyms {
	grid-area: synonyms;
}
.input-area-existing {
	padding: 20px;
}
.input-area-existing > .slot-value {
	display: grid;
	grid-template-columns: calc(25% + 7.5px) 1fr 125px;
	grid-gap: 15px;
	padding: 5px;
	align-items: center;
}
.input-area-existing > .slot-value > span {
	padding: 7px;
}
.input-area-existing > .slot-value > .value {
	border: 2px solid var(--light-grey);
	border-style: none solid none none;
}
.input-area-existing > .slot-value > .synonyms {

}
