input#search {
	position: absolute;
	right: 10px;
	z-index: 999;
	background-color: var(--light-grey);
	padding: 10px 20px;
    margin-top: 8px;
}



#filter-buttons {
	position: absolute;
    bottom: -55px;
    right: 0;
}
#filter-buttons button {
	transition: .2s;
}
#filter-buttons button.active {
	background-color: var(--blue);
	color: #fff;
}
#statistics {
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 14px;
	color: #999;
}