/*  NAVIGATION DESIGNS  */

.breadcrumb {
    margin: 50px 0px 30px;
}

.breadcrumb>* {
    color: var(--dark-grey);
    text-decoration: none;
    transition: .2s;
}

.breadcrumb>*:hover {
    color: var(--darker-grey);
}

.breadcrumb>*:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
}

.breadcrumb>a:last-child {
    color: var(--darker-grey);
}