div.nlu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    border-style: none none none solid;
    border-radius: 0px !important;
    box-shadow: none !important;
    width: 400px;
    /* padding: 250px 30px; */
    padding: 125px 30px;
    transition: var(--transition);
    display: none;
}

div.nlu.ready {
    padding: 125px 30px;
}

div.nlu + .container {
    margin-left: auto !important;
}

.code .key      {  color: var(--blue);    }
.code .number   {  color: var(--red);     }
.code .string   {  color: var(--green);   }
.code .boolean  {  color: var(--orange);  }
.code .null     {  color: var(--orange);  }

@media screen and (min-width: 1300px) {
    div.nlu {
        display: block !important;
    }
    div.nlu + .container {
        margin-left: 7.5vw !important;
        width: calc(100vw - 2*7.5vw - 400px);
    }
}