/*  GLOBAL SETTINGS LIKE FONT-FACE, COLOR CODES, ETC...  */

@font-face {
    font-family: Apercu;
    src: url(./apercu.woff) format("woff");
}

@font-face {
    font-family: "icons";
    src: url(./icons.woff2) format("woff2");
}

.icon {
    font-family: "icons";
}


/* page settings */

:root {
    --font-family: "Apercu";
    --padding: 10px 20px;
    --padding-large: 20px 25px;
    --border-radius: 5px;
    --box-shadow-level-1: 0px 10px 25px -8px #00000040;
    --box-shadow-level-2: 0px 10px 25px -8px #00000050;
    --box-shadow-level-3: 0px 0px 15px 0px #00000020;
    --box-shadow-level-4: "todo";
    --box-shadow-level-5: "todo";
    --transition: .2s ease;
    --lighter-grey: #fdfdfd;
    --light-grey: #f1f1f1;
    --grey: #ddd;
    --dark-grey: #999;
    --darker-grey: #666;
    --light-black: #333;
    --red: #ff3f3f;
    --green: #1dc558;
    --blue: #3f65ff;
    --orange: #ff9b3f;
    --border-color: var(--grey);
    --background-color: var(--light-grey);
    --background-color-secondary: var(--lighter-grey);
    --input-border-on-focus: var(--blue);
    --small-font-size: 0.75rem;
}


/*  classes to distribute the settings  */

.red {
    color: var(--red)
}

.blue {
    color: var(--blue)
}

.green {
    color: var(--green)
}

.orange {
    color: var(--orange)
}

.bg-red {
    background-color: var(--red) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.hover-bg-red:hover {
    background-color: var(--red) !important;
}

.hover-bg-blue:hover {
    background-color: var(--blue) !important;
}

.hover-bg-green:hover {
    background-color: var(--green) !important;
}

.hover-bg-orange:hover {
    background-color: var(--orange) !important;
}

.border-red {
    border-color: var(--red) !important;
}

.border-blue {
    border-color: var(--blue) !important;
}

.border-green {
    border-color: var(--green) !important;
}

.border-orange {
    border-color: var(--orange) !important;
}

.light-grey {
    color: var(--light-grey);
}

.light-black {
    color: var(--light-black);
}

.grey {
    color: var(--grey);
}

.dark-grey {
    color: var(--dark-grey);
}

.darker-grey {
    color: var(--darker-grey);
}

.bg-light-grey {
    background-color: var(--light-grey)!important;
}

.bg-light-black {
    background-color: var(--light-black) !important;
}

.bg-grey {
    background-color: var(--grey) !important;
}

.bg-dark-grey {
    background-color: var(--dark-grey) !important;
}

.bg-darker-grey {
    background-color: var(--darker-grey) !important;
}

.small,
.small>* {
    font-size: var(--small-font-size);
}

.v-center {
    display: flex;
    align-items: center;
}

.h-center {
    display: flex;
    justify-content: space-around;
}

.hidden {
    opacity: 0;
    transition: var(--transition);
}

.visible {
    opacity: 1;
    transition: var(--transition);
}

.fat {
    font-weight: bold;
}

.large {
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.clickable {
    cursor: pointer;
}

.rotating {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
