<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis - Development Kit</title>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/custom/devkit.css">
    <link rel="stylesheet" href="/assets/css/custom/devkit.editor.css">

    <script src="/assets/js/lib/prism.js"></script>
    <script src="/assets/js/http.js"></script>
    <script src="/assets/js/lib/vue.js"></script>
    <script src="/assets/js/lib/codeflask.js"></script>  
    <script defer type="module" src="/assets/js/pages/devkit.js"></script>
    <script defer type="module" src="/assets/js/pages/devkit.editor.js"></script>

    <style>
        .codeflask {
            background-color: transparent !important;
        }
        .codeflask::before {
            background-color: #e4e4e4 !important;
        }
    </style>
</head>

<body>
    <div class="container" id="swup">
        <div class="row">
            <nav class="breadcrumb">
                <a href="/">Jarvis Server</a>
                <a href="/devkit">Development Kit</a>
            </nav>
        </div>

        <div id="devkit">
            <h1>
                Development Kit
                <fullscreen-toggle :on="'fullscreen'" :off="'fullscreen_exit'"></fullscreen-toggle>
            </h1>


            <div id="library">  <folder-structure :nodes="folderStructure"></folder-structure> </div>
            <!-- <div id="code">     <div class="loading fast"></div> <span>Loading</span> </div> -->
            <!-- <div id="code">     <div id="code-editor">// Feel free to play with the code. :)

function Hey(phrase) {
    phrase = phrase || "Hey";
    return console.log(phrase);
}</div>    </div> -->
            <div id="code">     <div id="code-editor" readonly># Choose a file and start editing</div>    </div>
            <div id="parser">   <div class="loading fast"></div> <span>Loading</span> </div>
            <div id="status">   <assistant-status></assistant-status> </div>
        </div>

    </div>
</body>

</html>