<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jarvis Talk</title>

        <link rel="stylesheet" href="/assets/css/talk.css">
        <script src="/assets/js/lib/vue.js"></script>
        <script type="module" src="/assets/js/global.js"></script>
    </head>
    <body>
        <div id="app">
            <i id="mode">dark_mode</i>
    
            <input type="text" placeholder="What's up?" id="chat-input">
    
            <chats></chats>
        </div>
    </body>
</html>